h1{
    background-color:  aqua;
}


#FirtsId{
    background-color: pink;
}

/* #FirtsId{
    background-color: yellow;
    background-color: wheat;
} */
/* 

h2{
    background-color: aquamarine  !important;
} */


/* .classA{
    background-color: red;
}


li{
    background-color: chocolate;
} */

/* h1{
    background-color: pink;
} */