*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 40px;
}


.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 5px;
    padding: 10px;
}

.Box{
    background-color: rgb(108, 108, 189);
}


.header{
         grid-column-start: 1;
         grid-column-end: 4;
         margin: 5px;
         gap: 20px;
         padding: auto;
         background-color: red;
}
.sidebar{

     grid-row-start:2 ;
     grid-row-end: 4;
        margin: 5px;
         gap: 20px;
         padding: auto;
         background-color: green;

}


.content1{
    grid-column: 2/4;
       margin: 5px;
         gap: 20px;
         padding: auto;
         background-color: yellow;
}

.content2{
background-color: silver;
}

.content3{
background-color: sandybrown;
}

.footer{
    grid-column: 1/4;
       margin: 5px;
         gap: 20px;
         padding: auto;
         background-color: blanchedalmond;

}